{% extends "pages/base.html" %}
{% load static%}
{% block contenido%}
<div class="body flex-grow-1 px-3">
    <div class="container-lg">
        <div class="car"></div>
        <div class="card mb-4">
            <div class="card-header"><strong>Vales de consumos:</strong><span class="small ms-1">Historial de {{user.first_name}} {{user.last_name }}</span>
            </div>
            <div class="card-body">
                <div class="example">
                    <ul class="nav nav-tabs" role="tablist">
                    </ul>
                    <div class="tab-content rounded-bottom">
                        <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-494">
                            {% if detalles_recursos %}
                            <table class="table">
                                <thead class="table-dark">
                                <tr>
                                    <th>Id Solicitud</th>
                                    <th>Solicitante</th>
                                    <th>Recurso</th>
                                    <th>Cantidad Solicitada</th>
                                    <th>Estado Despacho</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for detalle in detalles_recursos %}
                                <tr>
                                    <td>{{ detalle.id_solicitud_recurso }}</td>
                                    <td>{{ detalle.id_solicitud }}</td>
                                    <td>{{ detalle.id_recurso }}</td>
                                    <td>{{ detalle.cantidad_solicitada }}</td>
                                    <td>{{ detalle.estado_despacho }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <h1>No existen solicitudes regitradas</h1>
                            {% endif %}
                            {% if is_paginated %}
                            <div class="">
                                <ul class="pagination">

                                    {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">
                                            Anterior</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <a href="#" class="page-link"> Anterior</a>
                                    </li>
                                    {% endif %}
                                    {% for i in paginator.page_range %}
                                    <li class="page-item {% if page_obj.number == i  %} active {% endif %}">
                                        <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                                    </li>
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a href="?page={{ page_obj.next_page_number }}" class="page-link"> Siguiente</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <a href="#" class="page-link"> Siguiente</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock contenido%}


